project_id = "qlpficpqprqolsucflwi"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
site_url = "https://freelit-updated-gzpoxxsin-sathwikreddy4658-9967s-projects.vercel.app"
additional_redirect_urls = ["https://freelit-updated-gzpoxxsin-sathwikreddy4658-9967s-projects.vercel.app/auth", "https://freelit-updated-gzpoxxsin-sathwikreddy4658-9967s-projects.vercel.app"]
jwt_expiry = 3600
enable_signup = true
enable_anonymous_sign_ins = false

[auth.email]
enable_confirmations = true
max_frequency = "1s"
otp_length = 6
otp_expiry = 86400

[db]
port = 54323
shadow_port = 54324
major_version = 15

[storage]
enabled = true
file_size_limit = "50MiB"

[analytics]
enabled = true
